---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  {% assign current_url = page.url | replace: "index.html", "" %}
  {% assign page_slug = current_url | replace: "/", " " | strip | replace: " ", "-" %}
  <body class="page-shell{% if current_url == "/" %} page-home{% else %} page-inner{% endif %}{% if page_slug != "" %} page-{{ page_slug }}{% endif %}">

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
      </article>
    </div>

    {% if current_url == "/" %}
      <footer class="site-copyright" role="contentinfo">© 2025-2026 Bobby Zhong</footer>
    {% endif %}

    {% include scripts.html %}

  </body>
</html>
